.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card-title {
    font-size: 40px;

}

.card-text {
    padding-top: 20px;
    width: 300px;
    font-size: 25px;
    padding-bottom: 20px;
}

.col-md-8 {
    display: flex;
    justify-content: center;
}

.card-box {
    display: flex;
    justify-content: center;
}

.card_info {
    text-align: center;
    width: 200px;
}

.card-color {
    color: orange;
}